<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
	</configSections>
	<connectionStrings>
		<add name="conn" connectionString="Data Source=DELL\\DELL;Initial Catalog=QLKDquanao;Integrated Security=True" providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>